@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Syne', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(#FFFFE8, #FFD4D4, #CDE990, #AACB73);
    overflow-x: hidden;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: auto;
    padding: 10px 40px;
    background-color: #AACB73;
    box-shadow: 0px 1px 4px #C0C0C0;
}

.nav-title {
    font-size: 25px;
    font-weight: 700;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-list li {
    margin-left: 30px;
    font-size: 18px;
}

.nav-list a {
    text-decoration: none;
    color: black;
}

.intro-background {
    height: 587px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intro {
    height: 400px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 100px;
    word-spacing: 5px;
    letter-spacing: 4px;
    font-size: 30px;
}

.intro-aspiring {
    background-image: linear-gradient(45deg, red, orange, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-grid {
    display: grid;
    row-gap: 50px;
    margin: 80px 80px;
    overflow-y: hidden;
}

.grid h3 {
    font-size: 30px;
    justify-self: center;
    align-self: center;
}

.grid div {
    font-size: 22px;
    line-height: 34px;
    word-spacing: 5px;
    justify-self: center;
    align-self: center;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
}

.content-grid img {
    height: 70px;
    margin: auto;
}

.content-grid p {
    font-size: 18px;
    font-weight: 600;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills div {
    width: 100px;
    text-align: center;
    margin-bottom: 15px;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-container h3 {
    font-size: 35px;
}

.project-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: #FFFFE8;
    max-width: 500px;
    height: 200px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: hidden;
}

.project-card img {
    width: 90%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px #C0C0C0;
}

.project-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    font-size: 16px;
}

.project-info h5 {
    font-size: 20px;
    margin-bottom: 15px;
}

.project-info li {
    margin-left: 35px;
    margin-top: 5px;
}

.project-info a {
    margin-top: 15px;
}

.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 40px;
}

.contact h3 {
    font-size: 35px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
    word-spacing: 4px;
}

.github {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.github a {
    margin-left: 5px;
    font-size: 17px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.nav-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    margin-left: auto;
}

/* Media queries */

@media screen and (max-width: 768px) {
    .div-1 {
        display: flex;
        flex-direction: column;
    }

    .div-1 h3 {
        margin-bottom: 1.5rem;
    }

    .div-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .div-2 h3 {
        margin-bottom: 2rem;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: max-content;
        min-width: 270px;
    }

    .project-card img {
        width: 100%;
    }

    .project-info {
        width: 100%;
        margin-top: 10px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 13%;
        left: 0;
        width: 100%;
        background-color: #8eb058;
        padding: 1rem 0;
    }

    .nav-list.active {
        display: block !important;
    }

    .nav-toggle {
        display: block;
    }
}

@media (max-width: 1023px) {
    .nav {
        width: auto;
    }

    .intro {
        font-size: 25px;
    }
}

@media (min-width: 2560px) {
    .nav {
        height: 80px;
    }

    .nav-title {
        font-size: 32px;
    }

    .nav-list li {
        font-size: 25px;
    }

    .intro {
        font-size: 40px;
        width: 1000px;
    }

    .grid h3 {
        font-size: 40px;
    }

    .grid div {
        font-size: 35px;
        line-height: 50px;
    }

    .project-container h3 {
        font-size: 45px;
    }

    .project-card {
        padding: 20px 30px;
        width: 800px;
        height: 300px;
    }

    .project-card img {
        width: 500px;
        height: 260px;
    }

    .project-info {
        width: 280px;
        font-size: 25px;
        margin-left: 40px;
    }

    .project-info h5 {
        font-size: 27px;
    }

    .contact h3 {
        font-size: 45px;
        margin-top: 50px;
    }

    .contact p {
        font-size: 30px;
        width: 1000px;
        line-height: 40px;
    }

    .github a {
        font-size: 27px;
    }

    footer {
        font-size: 25px;
    }
}
